<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Formulário com Node JS</title>

		<!-- Bootstrap -->
		<link rel="stylesheet" type="text/css" href="../../assets/libs/bootstrap/css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="../../assets/libs/fontawesome/css/fontawesome.min.css">
		<link rel="stylesheet" type="text/css" href="../../assets/libs/fontawesome/css/brands.min.css">
		<link rel="stylesheet" type="text/css" href="../../assets/libs/fontawesome/css/solid.min.css">
		<link rel="stylesheet" type="text/css" href="../../assets/libs/fontawesome/css/regular.min.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/main.css">
		<link rel="stylesheet" type="text/css" href="../../assets/css/home.css">
	</head>
	<body>
		<header>
			<!-- Cabeçalho -->
			<div class="container">

			<!-- Logo -->
				<div class="float-left d-block" id="logo">
					<a href="<?php echo $url; ?>/" class="text-dark">
					<i class="fas fa-ribbon"></i>
					</a>
				</div>

				<!-- Hamburguer -->
				<div class="hamburguer d-none float-right">
					<img src="../../assets/img/menu-ham.png">
				</div>

				<!-- Links -->
				<div class="links">
					<a href="/" class="text-dark d-block float-right">Home </a>
					<a href="#" class="text-dark d-block float-right">Quem somos </a>
					<a href="#" class="text-dark d-block float-right">Contato </a>
					<a href="#" class="text-dark d-block float-right">Posts</a>
				</div>

			</div>
		</header>
		<main>
			{{{body}}}s
		</main>

		<footer>
			
		</footer>
	</body>
</html>