body {
	margin: 0;
	text-align: center;
	padding: 100px 60px;
	font-family: arial;
	font-size: 20px;
}

body * {	
	box-sizing: border-box;
	border: 1px solid #333;
}

header {
	height: 100px;
	padding: 50px;
}


nav {
	height: 100px;
	padding: 50px;
}

section {
	height: 150px;
	padding: 75px;
}

aside {
	height: 300px;
	padding: 150px;
}

article {
	height: 150px;
	padding: 75px;
}

footer {
	height: 100px;
	padding: 50px;
}


