body{
	margin: 0;
}

div{
	width: 100px;
	height: 100px;
	background: red;
	-webkit-transition: width 2s; /*Safari 3.1 to 6.0*/
	-webkit-transition-delay: 1s; /*Safari 3.1 to 6.0*/
	transition: width 2s;
	transition-delay: 0.5s;
}

div:hover{
	width: 300px;
}